jars/
proj/
py/
scripts/
server/
sqlCon/
existingFiles/
serverConfig.sh

#skipping config files
.angular-config.json
.dotnet/
.aws
.azure
.bash_history
.bash_logout
.cache/
.config/
.docker/
.java/
.lesshst
.local/
.m2/
.motd_shown
.nvm/
.node_repl_history
.npm/
.ssh/
.zcompdump*
.zsh_history
.redhat/
.sudo_as_admin_successful
.pyenv/
.python*
.vscode*
*.txt
*.csv
*.md

zsh-syntax-highlighting/

